.left {
  position: absolute;
  top: 170px;
  left: 114px;
}

.right {
  position: absolute;
  top: 170px;
  right: 133px;
}

.background-relative {
  height: 349px;
  width: 500px;
  position: relative;
  background-size: cover !important;
  position: relative;
}
