<div class="footer bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <p>Contactez nous</p>
          <p>06 18 23 73 31</p>
        </div>
        <div class="col-xs-12 col-sm-1">
          <i class="fa fa-facebook"></i>
        </div>
        <div class="col-xs-12 col-sm-1">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="col-xs-12 col-sm-1">
          <i class="fa fa-envelope-o"></i>
        </div>
        <div class="col-xs-12 col-sm-1">
          <i class="fa fa-mobile"></i>
        </div>
      </div>
    </div>
</div>
