

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.9) 0%, rgba(0,36,61,0.9) 50%), url('http://www.lonelyplanet.fr/sites/default/files/styles/slideshow_destination/public/images_lpi/2014-06-26/fotolia_58295601_subscription_monthly_m.jpg?itok=_v3zjPTc');">
  <div class="banner-content">
    <h1>agwadec</h1>
    <h2>Association Guadeloupéenne pour le depistage des cancers</h2>
    <p>Fiche d'interprétation</p>
    <%= link_to "1ère Lecture", new_patient_path, class: "btn btn-primary btn-lg" %>
    <a class="btn btn-primary btn-lg">2ème Lecture</a>
  </div>
</div>
