<h1>Test</h1>

<div class="background-relative">
  <div class="right">
    <div class="circle">
      <div class="btn-quart btn-rotate-0"></div>
      <div class="btn-quart btn-rotate-90"></div>
      <div class="btn-quart btn-rotate-180"></div>
      <div class="btn-quart btn-rotate-270"></div>
    </div>
  </div>
  <div class="left">
    <div class="circle">
      <div class="btn-quart btn-rotate-0"></div>
      <div class="btn-quart btn-rotate-90"></div>
      <div class="btn-quart btn-rotate-180"></div>
      <div class="btn-quart btn-rotate-270"></div>
    </div>
  </div>
</div>


