

.btn-quart {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  border-radius: 50px 0 0 0;
  background: #66A1C8;
  transition: background 0.3s ease;
}
.btn-quart:hover {
  opacity: 1;
  background: #667C8B;
}

.btn-rotate-0 {
  position: absolute;
}

.btn-rotate-90 {
  position: absolute;
  top: 0px;
  right: 0px;
  transform:rotate(90deg);
}

.btn-rotate-180 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform:rotate(180deg);
}

.btn-rotate-270 {
  position: absolute;
  bottom: 0px;
  transform:rotate(270deg);
}

.circle {
  height: 100px;
  width: 100px;
  position: relative;
}

